*
{
	margin:0;
	padding:0;
	

}

@font-face
{
    font-family: "Dodger";
    src: url("dodger3.ttf");
}

body
{
	 background: #3e94ec;
}

header
{
	width:100%;
	overflow:hidden; /* Eliminamos errores de float */
	background-color:#252932;
	margin-bottom:20px;
}

#centrologo{
	display:inline-block;
	float:left;
	height:110px;
	position:static;
	padding:20px 10px 20px 25px;
}

#imagenlogo
{
	width:90px;
	height:90px;
}

#nombrelogo {
	display:inline-block;
	color:#FFFFFF;
	float:left;
	font-size:47px;
	line-height:150px;
	position:static;
	font-family: Dodger;
}
 
header nav
{
	float:right;
	line-height:150px;
}

.enlaces
{
	display:inline-block;
	color:#FFFFFF;
	text-decoration:none;
	padding:10px 15px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	font-family: Ubuntu,sans-serif;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

header nav a:hover
{
	background:#FFC857;
	border-radius:30px;
}

#posicion-slider
{
  	display:flex; /*Si ponemos display:block tendriamos que utlizar width y height al 100% pero al parecer los navegadores ya no utilizan esta practica*/
	mix-height:100px; /*Altura minima que tendra la SECTION donde se encuentra, tenerlo en cuenta*/----------------------------------------------------------------
	height:1500px;
	box-sizing:border-box;
	margin-bottom:20px;
	height:2000px;
}

#recuadro-slider
{
  margin:auto;
  width:100%;
  height:1000px;
  max-width:900px; /*Esto lo que indica es que el ancho del cuadrado del slider su tamaño maximo sera de 500px, es lo que da el tamaño al slider y las imagenes que esta contenga*/
  position:relative;
  overflow:hidden; /*Es la etiqueta que oculta las demas imagenes y no se muestren en fila*/
  box-shadow:0 15px 50px;
}

#contenido-slider
{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 400%; /*Porque tenemos 4 imagenes*/
}

#contenido-slider article
{
  width: 100%;
}

#contenido-slider img
{
  display: block; /*display: table; tambien se muestra bien*/
  width: 100%;
  height: 100%;
}

#btn-prev, #btn-next
{
  width: 90px;
  height: 90px;
  background-color: rgba(44, 44, 52, 0.7); /*el ultimo numero se trata de la transparencia*/
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  line-height: 90px; /*corrige la altura del simbolo del boton*/
  text-align:center; /*pone el signo del boton en el centro del circulo*/
  font-size: 90px; /*tamaño*/
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer; /*para indicar que es un boton*/
}

#btn-prev:hover, #btn-next:hover
{
  background-color: white;
}

#btn-prev
{
  left: 0;
}

#btn-next
{
  right: 0;
}

footer{
position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

section{
   padding-top: 50px;
}